<table class="blocks" cellspacing="1" cellpadding="0" width="100%">
  <tr>
    <td id="mainmenu">
      <!-- start module menu loop -->
      <{foreach item=menuitem from=$block}>
      <a class="menuMain" href="<{$menuitem.url}>"><{$menuitem.text}></a>
        <{foreach item=sublink from=$menuitem.sublinks}>
          <a class="menuSub" href="<{$sublink.url}>"><{$sublink.text}></a>
        <{/foreach}>
      <{/foreach}>
      <!-- end module menu loop -->
    </td>
  </tr>
</table>