<{if $block.type eq 'textual'}>
<{foreach item=bdat from=$block.items}>
<div class="blockTitle">
  <{if $bdat.title}><div><font size="+1"><{if $bdat.uri}><a href="<{$bdat.uri}>"><{/if}><{$bdat.title}><{if $bdat.uri}></a><{/if}></font></div><{/if}>
  <{if $bdat.summary}><span><{$bdat.summary}></span><{/if}>
</div>
<{if $bdat.content}>
<div class="blockContent">
<span style="clear:both;"><{if $bdat.image}><{$bdat.image}><{/if}><{$bdat.content}></span>
</div>
<{/if}>
<{/foreach}>
<{elseif $block.type eq 'image'}>
<{foreach item=bdat from=$block.items}>
<div class="blockContent">
<{if $bdat.src}><{if $bdat.uri}><a href="<{$bdat.uri}>"><{/if}><{$bdat.src}><{if $bdat.uri}></a><{/if}><{/if}>
</div>
<{/foreach}>
<{/if}>