<div class="blockTitle">
  <h2><{$title}></h2>
</div>
<div class="blockContent">
    <{$content}>
    <div class="printandemail">
	  <{if $edit == 1}>
        <a href="<{$edit_url}>&return=1"><img src="<{$xoops_url}>/modules/<{$mod_url_path}>/images/edit.gif" alt="" border="0" align="absmiddle"></a>&nbsp;&nbsp;&nbsp;&nbsp;
      <{/if}>
        <a href="<{$xoops_url}>/modules/<{$mod_url_path}>/print.php?center_id=<{$id}>" target="_new"><img src="<{$xoops_url}>/modules/<{$mod_url_path}>/images/print.gif" alt="" width="16" height="16" border="0" align="absmiddle"></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="<{$mail_link}>"><img src="<{$xoops_url}>/modules/<{$mod_url_path}>/images/email.gif" alt="" width="16" height="10" border="0" align="absmiddle"></a>
     </div>
</div>
<div style="clear:both;">
<{if $nocomments == 0}>
<br /><br />
<div style="text-align: center; padding: 3px; margin: 3px;">
  <{$commentsnav}>
  <{$lang_notice}>
</div> 

<div style="margin: 3px; padding: 3px;">
<!-- start comments loop -->
<{if $comment_mode == "flat"}>
  <{include file="db:system_comments_flat.html"}>
<{elseif $comment_mode == "thread"}>
  <{include file="db:system_comments_thread.html"}>
<{elseif $comment_mode == "nest"}>
  <{include file="db:system_comments_nest.html"}>
<{/if}>
<!-- end comments loop -->
</div>
<{/if}>

